@font-face {
    font-family: 'Bebas';
    src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf"), format('truetype');
}

h1{
    font-size: 30px;
    font-family: 'Bebas';
}

p{
    margin-top: -30px;
}