nav{
    position: fixed; /* Mantiene el nav fijo en la parte inferior */
    bottom: 0; /* Coloca el nav en la parte inferior */
    left: 0;
    width: 100%;
    background-color: rgb(13, 1, 36);
    color: white;
    padding: 10px;
    z-index: 1000; /* Mantiene el nav sobre otros elementos */
}

nav ul{
    padding-top: 3px;
}

section{
    height: 2300px;
    background-color: rgb(69, 2, 73);
    background-image: none;
}

.panel-vids{
    display: grid;
}

.video-area{
    margin-top: -180px;
}

iframe{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin-top: 30px;
}

.nav-video{
    margin-top: -1490px;
}
